%% -*- mode: erlang -*-
%% {lib_dirs, ["deps"]}.
{deps, [
%%       {'rfc4627_jsonrpc', "0.01", {git, "git://github.com/tonyg/erlang-rfc4627.git", {tag, "version_1.1.1"}}},
        {'mochiweb', "2.3.2", {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.3.2"}}},
        {'mochixpath', "1.2.1", {git, "git://github.com/andelf/mochixpath.git", {tag, "1.2.1"}}}
]}.
{sub_dirs, ["rel"]}.
