%% -*- mode: erlang -*-
%% {lib_dirs, ["deps"]}.
{deps, [
%%       {'rfc4627_jsonrpc', "0.01", {git, "git://github.com/tonyg/erlang-rfc4627.git", {tag, "version_1.1.1"}}},
        {'mochiweb', ".*", {git, "git://github.com/mochi/mochiweb.git"}},
        {'mochixpath', "1.2.1", {git, "git://github.com/andelf/mochixpath.git"}}
]}.
{sub_dirs, ["rel"]}.
